/* PageTitle.module.scss */
.pageTitle {
    font-size: 24px;
    color: #333;
    
  }
  
  .titleContainer {
    background-color: #eee;
    padding: 10px;
    width: 50%; /* Adjust the width as needed */
    margin: 20px auto; /* Center the box horizontally and add some top margin */
  }
  