/* Style for Header component */
.Header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }

  /* New styles for making it a centered box with a border */
  width: 50%; /* Adjust the width as needed */
  margin: 20px auto; /* Center the box horizontally and add some top margin */
}