/* Greeting.module.scss */
.greeting {
    font-size: 18px;
    color: green;
    width: 50%; /* Adjust the width as needed */
    margin: 20px auto; /* Center the box horizontally and add some top margin */
  }
  
  .greetingContainer {
    margin-bottom: 10px;
  }
  