/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Apply a global font and background color */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  border: 2px solid red; /* Add a red border around the entire page */
  box-sizing: border-box; /* Include border in the total width/height */
  display: flex;
  flex-direction: column; /* Set the flex container to column direction */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make the body take up the full viewport height */
}

/* Style for Header component */
.Header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }

  /* New styles for making it a centered box with a border */
  width: 50%; /* Adjust the width as needed */
  margin: 20px auto; /* Center the box horizontally and add some top margin */
}

/* Style for NavBar component */
.NavBar {
  padding: 0;

  ul {
    margin: auto;
    padding: auto;
    list-style: none; /* Remove default list styles */
    display: flex; /* Display list items horizontally */
    justify-content: center;
    align-items: center;

    li {
      margin: 0 10px;
      cursor: pointer;

      a {
        text-decoration: none; /* Remove underline from anchor links */
        color: blue; /* Set link color */

        &:hover {
          text-decoration: none;
          color: red;
        }
      }
    }
    }
}

/* Style for Main component */
.Main {
  padding: 20px;
  text-align: center;
}

/* Style for Footer component */
.Footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
