
/* Apply a global font and background color */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0; /* Removed the extra dot before #f0f0f0 */
  border: 2px solid red;
  box-sizing: border-box;
  height: 350vh;
}

// /* Style for Header component */
// .Header {
//   background-color: #333;
//   color: #fff;
//   padding: 10px;
//   text-align: center;

//   h1 {
//     margin-bottom: 10px;
//   }

//   /* New styles for making it a centered box with a border */
//   width: 50%;
//   margin: 20px auto;
// }

// /* Style for Main component */
// .Main {
//   padding: 20px;
//   text-align: center;

//   .list-container ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//   }
// }

// /* Style for Footer component */
// .Footer {
//   background-color: #333;
//   color: #fff;
//   padding: 10px;
//   text-align: center;
// }
